<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Bariki Fundraiser</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="back">
        <div class="color">
      <div class="container">
          <div class="ubunifu">
          <img src="./images/logo.PNG" style="width: 160px; height: 70px;">
          </div>
          <div class="nav">
            <div class="navbar">
              <div class="dropdown">
              <a class="active" href="#About"><i class="fa fa-fw fa-home"></i> SIGN UP</a>
              
              </div> 
            
            
            <div class="drpdwn">
              <a href="#pathways"><i class="fa fa-fw fa-search"></i> LOGIN</a>
            
                  </div> 
                
                
                
              <a href="#updates"><i class="fa fa-fw fa-envelope"></i> ABOUT US </a>
              
             
              <a href="#contact"><i class="fa fa-fw fa-search"></i> CONTACT</a>
  
              
              <a href="#menu"><i class="fa fa-fw fa-search"></i> </a>
              
            </div>
          </div>
        </div>
    <div class="begin">
    <header>
        <h1> BARIKI FOUNDATION <br>
              <h2>Transparent,Secure and Efficient</h2>
    </header>
</div>
    <main>
        <section id="intro">
            <h3>Bariki is a blockchain-based fundraising platform designed to facilitate secure and transparent charitable donations.<br>
                 The service harnesses the power of blockchain technology to offer both donors and beneficiaries a reliable, trustworthy system for managing and tracking contributions.
                </h3>
        </section>
    </main>
</body>
</html>
