<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Bariki Fundraiser</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>

    <div class="back">
        <div class="color">
      <div class="container">
          <div class="ubunifu">
          <img src="../static/images/logo.PNG" style="width: 160px; height: 70px;">
          </div>
          <div class="nav">
            <div class="navbar">
              <div class="dropdown">
              <a class="active" href="#About"><i class="fa fa-fw fa-home"></i> SIGN UP</a>
              
              </div> 
            
            
            <div class="drpdwn">
              <a href="#pathways"><i class="fa fa-fw fa-search"></i> LOGIN</a>
            
                  </div> 
                
                
                
              <a href="#updates"><i class="fa fa-fw fa-envelope"></i> ABOUT US </a>
              
             
              <a href="#contact"><i class="fa fa-fw fa-search"></i> CONTACT</a>
  
              
              <a href="#menu"><i class="fa fa-fw fa-search"></i> </a>
              
            </div>
          </div>
        </div>
    <div class="begin">
    <header>
        <h1> BARIKI FOUNDATION <br>
              <h2>Transparent. Secure. Efficient</h2>
    </header>
</div>
    
    <div id="react-root"></div> <!-- React will render your components here -->

    <script type="text/babel">
      // Define your React components
      function FundraiserBanner() {
          return (
              <div className="fundraising-banner">
                  <div className="content">
                      <h1>Get started with Bariki<br/></h1>
                      <div className="actions">
                          <button className="start-button">START TODAY</button>
                          <div className="search-box">
                              <input type="text" placeholder="Find a Fundraiser..." />
                             
                          </div>
                      </div>
                  </div>
              </div>
          );
      }

      function BarikiFoundation() {
          return (
              <div className="begin">
                  <header>
                      <h1> BARIKI FOUNDATION <br/>
                          <h2>Transparent,Secure and Efficient</h2>
                      </h1>
                  </header>
              </div>
          );
      }

      function App() {
          return (
              <>
                  <FundraiserBanner />
           
                  {/* You can add more components here as needed */}
              </>
          );
      }

      // Render your React application to the mount point
      ReactDOM.render(<App />, document.getElementById('react-root'));
  </script>

<main>
  <section id="intro">
      
          
                <div class="sunglass">
<img src="../static/images/block.jpg" style="width: 460px; height: 220px;" alt="">
                  <div class="suntext">
                    "Bariki" is a blockchain-based fundraising platform designed to facilitate secure and transparent charitable donations.<br>
                     The service harnesses the power of blockchain technology to offer both donors and beneficiaries a reliable, trustworthy system for managing and tracking contributions.
          
          
                  </div>
                </div>
             
  </section>
</main>
</body>
</html>
