* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.begin {
    color: white;

    position: relative;
    height: 20vh; /* Full viewport height */
    width: 100%;
    background-image: url('../static/images/watu.jpg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}
/* Existing styles... */



.sidebar {
    margin-top:0px;
    width: 250px;
    height: 100vh;
    color: white;
    background-color: #000a16;
    padding: 20px;
    position: fixed; /* Keep sidebar fixed during page scroll */
    left: 0; /* Align sidebar to the left */
}

.back{
    background-image: url('../static/images/nyeus.jpeg');
    padding-bottom: 30px;
}
.main-content {
    color: white;
align-content: center;    /* Other styles... */
}





.section {
    margin-top: 20px;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.nav-item i {
    margin-right: 10px;
}

.nav-item:hover {
    background-color: #ddd;
}

.large-button {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 550px; /* Adjust according to the sidebar width */
margin-top: 30px;
}

.large-button i {
    margin-right: 10px;
    
}

.large-button:hover {
    background-color: #0056b3;
}

h1 {
    margin-bottom: 20px;
}
 .start{
    margin-top: 20px;
    margin-left: 450px; /* Adjust according to the sidebar width */

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
font-weight: 500;
font-size: 30px;
 }

 .manage{
    margin-left: 520px; /* Adjust according to the sidebar width */
margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
font-weight: 500;
font-size: 30px;
 }
