<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Details</title>
    <link rel="stylesheet" href="../static/account.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="back">
        <div class="color">
      <div class="container">
          <div class="ubunifu">
          <img src="../static/images/logo.PNG" style="width: 160px; height: 70px;">
          </div>
          
              
              
            </div>
          </div>
        </div>
    <div class="begin">
    <header>
        <h1> Welcome {{ current_user.first_name }}<br>
            <h2>Account Details</h2>
    </header>
    </div>
    <form class="form-container" action="{{ url_for('my_account') }}" method="POST">
      <div class="form-group">
          <label for="name">First Name: {{ current_user.first_name }}</label>
          <input type="text" id="name" name="f-name" placeholder="First Name" required>
      </div>
      <div class="form-group">
          <label for="description">Second Name: {{ current_user.second_name }}</label>
          <textarea id="description" name="l-name" placeholder="Second Name" required></textarea>
      </div>
      <div class="form-group">
        <label for="account">Email Address: {{ current_user.email }}</label>
        <input type="text" id="account" name="account" placeholder="Email address" required>
    </div>
    <button type="submit">Change details</button>
      </form>
</body>
</html>