<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage fundraiser</title>
    <link rel="stylesheet" href="../static/landingpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap" rel="stylesheet">
    <script src="../static/landinpage.js"></script>

<body>
    
    <div class="begin">
        <header>
            <h1> MANAGE YOUR FUNDRAISERS {{ current_user.first_name }}<br>
        </header>
        </div>
    <div class="sidebar">
        <div class="section">
            <h2>MY ACCOUNT</h2>
            <a href="#" class="nav-item"><img src="../static/images/fundraising.png" style="padding: 5px;" > My Fundraisers</a>
            <a href="#" class="nav-item"><img src="../static/images/donation.png" style="padding: 5px;" > My Donations</a>
            <a href="#" class="nav-item"><img src="../static/images/profile.png" style="padding: 5px;" > Account details</a>
        </div>
        <!-- <div class="section">
            <h2>PERSONALIZATION</h2>
            <a href="#" class="nav-item"><img src="icons/summary-icon.svg" > Fundraiser Details</a>
            <a href="#" class="nav-item"><img src="icons/summary-icon.svg" > Share</a>
        </div> -->
        <div class="section">
            <h2>ACCOUNT</h2>
            <a href="#" class="nav-item"><img src="../static/images/logout.png" style="padding: 5px;" > Logout</a>
        </div>
    </div>
    <div class="back">

     <div class="main-content">
       
        <div class="start">
            <h3>Get started on creating your Fundraiser</h3>
    
        </div>

        <button class="large-button"><img src="../static/images/plus.png" style="padding: 5px;"> Create New Fundraiser</button>
    </div>
</div>

<div class="back">
    <div class="manage">
        <h3>Your Active Fundraisers</h3>

    </div>
    

    <div class="gallery">
        <div class="fundraiser-card">
            <div class="fundraiser-image">
                <img src="../static/images/whale.png"  alt="Fundraiser Header">
            </div>
            <div class="fundraiser-info">
                <h3>Name: Save the Whales</h3>
                <p>Description: Help us raise funds to protect the whales in the Pacific Ocean from illegal hunting and pollution.</p>
                <p>Goal Amount: KSH 500,000</p>
                <p>Deadline: 2023-12-31</p>
                <p>Algo Account: XXXXXALGORANDXXXXX</p>
            </div>
        </div>
        <!-- Additional fundraiser cards can be added here -->
    </div>
</div>
</body>
</html>