<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage fundraiser</title>
    <link rel="stylesheet" href="../static/landingpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap" rel="stylesheet">
    <script src="../static/landinpage.js"></script>

<body>
    
    <div class="begin">
        <header>
            <h1> Welcome {{ current_user.first_name }}<h1>
        </header>
        </div>
    <div class="sidebar">
        <div class="section">
            <h2>MY ACCOUNT</h2>
            <a href="{{ url_for('my_fundraisers') }}" class="nav-item"><img src="../static/images/fundraising.png" style="padding: 5px;" > My Fundraisers</a>
            <a href="{{ url_for('my_donations') }}" class="nav-item"><img src="../static/images/donation.png" style="padding: 5px;" > My Donations</a>
            <a href="{{ url_for('my_account') }}" class="nav-item"><img src="../static/images/profile.png" style="padding: 5px;" > Account details</a>
        </div>

        <div class="section">
            <h2>ACCOUNT</h2>
          <a href="{{ url_for('logout')}}" class="nav-item"><img src="../static/images/logout.png" style="padding: 5px;" > Logout</a>
        </div>
    </div>
    <div class="back">

     <div class="main-content">
       
        <div class="start">
            <h3>Get started on creating your Fundraiser</h3>
    
        </div>

          <a href="{{ url_for('create_cause', user_id=current_user.id) }}"><button class="large-button"><img src="../static/images/plus.png" style="padding: 5px;"> Create New Fundraiser</button></a>
    </div>
</div>

<div class="back">
    <div class="manage">
        <h3>Your Active Fundraisers</h3>

    </div>

    {% for cause in active_causes %}
    <div class="gallery">
        <div class="fundraiser-card">
            {% for c in current_user.causes %}
              <div class="fundraiser-image">
                  <img src="{{ c.image_url }}"  alt="Fundraiser Header">
              </div>
              <div class="fundraiser-info">
              <p style="color: whitesmoke;"> Name: {{ c.name }}<p>
              <p style="color: whitesmoke;">Description: {{c.description}}</p>
              <p style="color: whitesmoke;">Goal Amount:{{c.goal_amount}}</p>
              <p style="color: whitesmoke;">Deadline: {{c.deadline}}</p>
                <p></p>
            {% endfor %}
          </div>
        </div>
    </div> 
    {% endfor %}
</div>
</body>
</html>
