<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate</title>
    <link rel="stylesheet" href="../static/donate.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap" rel="stylesheet">

</head>
<body>
    
    <div class="begin">
        <header>
            <h1> Welcome {{ current_user.first_name }}<br>
        </header>
        </div>

        <div class="back">
            <div class="manage">
                <h3>Donate to users fundraiser</h3>
        
            </div>
            
        
            <div class="gallery">
                <div class="fundraiser-card">
                    <div class="fundraiser-image">
                        <img src="../static/images/whale.png"  alt="Fundraiser Header">
                    </div>
                    <div class="fundraiser-info">
                        <h3>Name: {{ cause.name }}</h3>
                        <p>Description: {{ cause.description }}</p>
                        <p>Goal Amount: KSH {{ cause.goal_amount }}</p>
                        <p>Deadline: {{ cause.deadline }}</p>
                    </div>
                </div>
                <!-- Additional fundraiser cards can be added here -->
            </div>

            <form class="form-container" method="POST" action="{{ url_for('donate', user_id=current_user.id) }}">
               
                <div class="form-group">
                    <label for="amount">How much do you want to donate?(KSH):</label>
                    <input type="number" id="amount" name="amount" min="1" step="1" placeholder="Enter amount" required>
                    <input type="hidden" name="cause_id" value={{ cause.id}}>
                    
                </div>
               
                <div class="form-group">
                    <button type="submit" class="submit-btn">DONATE</button>
                </div>
              </form>
</body>
</html>
