<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Bariki Fundraiser</title>
    <link rel="stylesheet" href="../static/landingpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap" rel="stylesheet">
    <script src="../static/landinpage.js"></script>

<body>
    

    <div class="sidebar">
        <h1>Dashboard</h1>
        <div class="section">
            <h2>MY ACCOUNT</h2>
            <a href="#" class="nav-item"><img src="../static/images/fundraising.png" > My Fundraisers</a>
            <a href="#" class="nav-item"><img src="../static/images/donation.png" > My Donations</a>
            <a href="#" class="nav-item"><img src="../static/images/profile.png" > Account details</a>
        </div>
        <!-- <div class="section">
            <h2>PERSONALIZATION</h2>
            <a href="#" class="nav-item"><img src="icons/summary-icon.svg" > Fundraiser Details</a>
            <a href="#" class="nav-item"><img src="icons/summary-icon.svg" > Share</a>
        </div> -->
        <div class="section">
            <h2>ACCOUNT</h2>
            <a href="#" class="nav-item"><img src="../static/images/logout.png" > Logout</a>
        </div>
    </div>

     <div class="main-content">
        <button class="large-button"><img src="icons/summary-icon.svg" > Create New Fundraiser</button>
    </div>
</body>
</html>